<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= city.name %> - Şehir Detayları</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
    <%- include('partials/header') %>

    <div class="container mx-auto px-4 py-8">
        <img src="/images/<%= city.slug %>.jpeg" alt="<%= city.name %>" class="w-full h-64 object-cover rounded-lg mb-4 shadow-md">
        <h1 class="text-4xl font-bold mb-4"><%= city.name %></h1>
       
        <p class="mb-4"><%= city.description %></p>

        <!-- Meşhur Yemekler Bölümü -->
        <h2 class="text-2xl font-semibold mb-2 mt-8">Meşhur Yemekler</h2>
        <div class="bg-white rounded-lg shadow-md p-4">
            <p>Bu şehirdeki meşhur yemekleri görmek için tıklayın.</p>
            <a href="/sehir/<%= city.slug %>/yemekler" class="text-blue-500 hover:underline">Meşhur Yemekler</a>
        </div>
        <br>

        <!-- Gezilecek Yerler -->
 

        <!-- Yorum Yapma Bölümü -->
        <div class="mt-8">
            <h3 class="text-xl font-semibold">Yorum Yap</h3>
            <% if (user) { %>
                <form action="/comments" method="POST">
                    <textarea name="content" required placeholder="Yorumunuzu buraya yazın..." class="border rounded p-2 w-full"></textarea>
                    <input type="hidden" name="citySlug" value="<%= city.slug %>">
                    <button type="submit" class="bg-yellow-600 text-white rounded p-2 mt-2">Yorum Gönder</button>
                </form>
            <% } else { %>
                <p>Yorum yapabilmek için <a href="/giris">giriş yapınız</a>.</p>
            <% } %>
        </div>

        <% comments.forEach(comment => { %>
            <div class="border p-2 mb-2">
                <strong><%= comment.userId.username %></strong>: <%= comment.content %>
            </div>
        <% }) %>

    </div>

    <%- include('partials/footer') %>
</body>
</html>
